{
  "env": {
    "browser": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-regenerator",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": true,
          "regenerator": true
        }]
      ]
    }
  },
  "plugins": [
    "transform-es2015-modules-commonjs"
  ]
}