html, body {
	height: 100%;
	min-width: 320px;
}

.zotero-items {
	list-style-type: none;
	padding: 0;
}

.zotero-item {
	border: 1px solid @primaryColor;
	box-sizing: border-box;
	padding: 1em;
	width: 90%;
	margin: 0.5em auto;
}

.zotero-abstract-short + .zotero-abstract {
	display: none;
}

.zotero-abstract-short.zotero-abstract-expanded {
	display: none;
}

.zotero-abstract-short.zotero-abstract-expanded + .zotero-abstract {
	display: block;
}

.zotero-abstract-toggle {
	color: @accentColor;
	cursor: pointer;
}