body {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	color: $primary-text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: 1em;
}

a,
a:visited,
a:focus {
	color: $accent-color;
	text-decoration: none;
}